.dingo-button {
    margin-right: 10px;
}

.spotify{
    color: green;
}
.dingo-icon{
    margin-right: 0px;
}

.facebook{
    color: rgb(104, 154, 201);
}

.twitter{
    color: rgb(117, 195, 209);
}

.google-play{
    color: orangered;
}