


<mat-tab-group class="about-header">
    <mat-tab label="THE GM (ADAM AKA GOD)">
        <div class="dingo-card">
            <mat-card class="dingo-card">
                adam's alright i guess...
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="ZINKZ">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Zinkz Eggshells
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        Sex: Female
                        Age: Early 30s
                        Race: Halfling
                    </p>
                </mat-card-subtitle>
            </mat-card-title-group>
            <p>Raised in a poor environment, Zinkz resorted to theft and pickpocketing to survive in the world. &nbsp;As she
                approached her tween years, her mother, Sheila, took power of an organization known as the Pepcee Cartel.
                During her rise to power (and the years to follow) Sheila would train her daughter to hone her skills in
                thieving and archery; Zinkz would also learn how to brew deadly potions and to become immune to their
                effects. &nbsp;When the time was right, the Halfing duo would attempt to assassinate King Koco, the ruler of
                Ye Olde Atlanta; however, Zinkz got cold feet and tried to back out. Her mother seemingly tried to kill her
                own daughter during their escape. &nbsp;Dim, the Dwarven Fighter unwittingly got roped into the chaos as he
                inadvertently saved Zinkz&#39;s life. Soon after the failed assassination, Zinkz met Jack, a telepathic
                Salamander; together, they cast Sheila into the flames to even the score.</p>

        </mat-card>
    </mat-tab>
    <mat-tab label="DIM">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Dim Rundrig
                </mat-card-title>
                <mat-card-subtitle>
                    <p>Sex: Yes
                    Age: ???
                    Race: Dwarf</p>
                </mat-card-subtitle>
            </mat-card-title-group>
            <p>The Life and Times of Dim Rundrig are as simple as they are mysterious. Dim doesn&#39;t remember much of his childhood, at least before he was kicked in the head by a donkey. Since then, he&#39;s only shown bursts of rage and belligerence. Fate would allow him to come into possession of Gabriella, a massive stone hammer, perfect for bashing skulls. The rest is history... Bloody, drunken history. Oh, he loves ale and food almost as much as he loves Gabriella. Presently, he travels the roads of the Kingdom with his new pals Zinkz and Jack to stir up some trouble, whenever possible. Dim will always stand up for his companions as long as there are brews, broads and bloodshed!</p>
        </mat-card>
    </mat-tab>
    <mat-tab label="THE FUCKIN' LIZARD">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    <div>
                        JACK
                    </div>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>Sex: ??
                        Age: ???
                        Race: ????
                    </p>
                </mat-card-subtitle>
            </mat-card-title-group>
            Jack is a yellow-spotted salamander with the ability to conjure and manipulate flames, and influence another
            living creature's thoughts and ideas. Having shared little about what influences and drives Jack, it is clear
            that sacrificing unwilling victims to the flames is a prime motivation. Dim and Zinkz are merely a means to an
            end, a very explosive, fiery end.
        </mat-card>
    </mat-tab>
</mat-tab-group>