
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen
and (min-width: 1px)
{
    .dingo-card{
        max-width: 90%;
    }
}

@media only screen
and (min-width: 800px)
{
    .dingo-card{
        max-width: 60%;
    }
}

.thumbnail{
    max-width: 10%;
    max-Height: 10%;
}
/* .mat-app-background{
    background-color: black;
} */

/* .ng-star-inserted{
    background: black;
    background-color: black;
} */

.dingo-card{
    background: #37153b;
    color: #ffffff;
    margin: 0 auto;
}

mat-card-subtitle{
    color: white;
}

.dingo-subtitle{
    color: white;
}


a:visited {
    color: white;
}

a:link{
    color: yellow;
}